In [ ]:
#question 1: Write a program to accept percentage from the user and display the grade according to the following criteria :

In [ ]:
#Answer 1:

In [4]:
marks= int(input(print("enter the marks")))
if marks>90:
    print(" A Grade")
elif marks>80 and marks<=90:
    print(" B Grade")
elif marks>=60 and marks<=80:
    print(" C Grade")
else :
    print(" D Grade")

enter the marks

None 89

 B Grade

In [ ]:
# question 2: Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria :

In [ ]:
# Answer 2:

In [11]:
cost_price = int(input(print("Enter the cost price  of bike = ")))
if cost_price>100000:
    print("Road tax = 15% ")
elif cost_price>50000 and cost_price<=100000:
    print("Road tax = 10% ")
else :
    print("Road tax = 5% ")

Enter the cost price  of bike =

None 89349

Road tax = 10%

In [ ]:
#question 3: Accept any city from the user and display monuments of that city.

In [ ]:
#Answer 3:

In [ ]:
city = input(print("Enter the city name"))
if city=='delhi':
    print("Red Fort ")
elif city=='agra':
    print("Taj Mahal")
elif city=='jaipur':
    print("Jal Mahal")
else:
    print("invald entry")

In [ ]:
#question 4:Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [ ]:
#answer 4:

In [7]:
n=int(input("enter your number"))
count =0
while n>=10:
    n = n/3
    count+=1
print(count)

enter your number 45

2

In [19]:
#question 5: Why and When to use while loop in python give a detailed description with example

In [20]:
# answer 5:

In [21]:
# While loop used when the number of iterations is unknown. The statement repeat itself till the boolean value becomes false. In a while loop,
# the condition is tested at the start , also known as pre-test loop
# 1. Initialise the starting value
# 2. chech that the starting value is less than the stopping value.
# 3.execute the statement.
# 4. increment the starting values.

In [22]:
# for example

In [23]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [8]:
#question 6: Use nested while loop to print 3 different pattern.

In [9]:
#answer 6:

In [ ]:
#first pattern

In [2]:
n=int(input("enter your number"))
row=1
while row<=n:
    col=1
    while col<=row:
        print("*",end="")
        col+=1
    print("")
    row+=1

enter your number 5

*
**
***
****
*****

In [3]:
#second pattern

In [5]:
n=int(input("enter your number"))
row=1
while row<=n:
    col=1
    while col<=n:
        print("*",end="")
        col+=1
    print("")
    row+=1

enter your number 5

*****
*****
*****
*****
*****

In [6]:
#third pattern

In [10]:
n=int(input("enter your number"))
row=0
while row<=n:
    col=1
    while col<=n-row:
        print("*",end="")
        col+=1
    print()
    row+=1

enter your number 5

*****
****
***
**
*

In [11]:
#question 7: Reverse a while loop to display a number from 10 to 1

In [12]:
#answer 7:

In [15]:
n=10
while n>=1:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

In [16]:
#question 8: Reverse a while loop to display a number from 10 to 1

In [17]:
#answer 8:

In [18]:
n=10
while n>=1:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1